deps/*
gactions/*
google_calendars.yaml
home-assistant_v2.db
home-assistant_v2.db-wal
home-assistant_v2.db-shm
known_devices.yaml
*.db
*.dat
secrets.yaml
certbot/*
upsmychoice_cookies.pickle
.uuid
*.conf
.storage/*
.ssh/*
.google.token
pyozw.sqlite
*.103
*.tmp
core*
core.103
www/*
tts/*
*/__pycache__/*
.gitignore
.gitattributes
/custom_components/*
*.pyc
*.sh
/yamls/sensors/plex_watching_sensors.yaml
/yamls/sensors/finance_sensors.yaml
/yamls/sensors/zone_template_address_sensors.yaml
hacsfiles/*
appdaemon/*
*.json
*.css
*.png
!/Screenshots/*.png
*.svg
/custom_icons/*
ip_bans.yaml
*.log
*.env
.env
custom_components
cors_allowed_origins.yaml
python_scripts
sys_commands
